@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



   
        <title>Gummy Bear Kingdom</title>
    

        
         <p>We offer a vast assortment of styles in an amazing variety of categories - furniture, rugs, art, lamps, home décor and more.Our stylish designer-picks are curated in a n easy to browse way, allowing you quick and easy access to search all of your styles in the comfort of your home.This allows you to have the luxury of comparing furniture options, measuring exactly what will fit your space with delivery right to your door! We carry high end, high value, and everything in between.</p>
    </body>
