@model IEnumerable<GummyBearKingdom.Models.Property>

<html>
<head>
    <title>GummyBearKingdom</title>
</head>
<body>
    
    <h2>@Html.ActionLink("GummyBearKingdom Products", "Index", "Properties")</h2>
</body>
</html>