<html>
    <head>
        <title>Gummy Bear Kingdom</title>
    </head>
    <body>
        
         <p>@Html.ActionLink("Product list", "Index", "Properties")</p>
         <p>@Html.ActionLink("Review list", "Index", "Reviews")</p>
    </body>
</html>