<html>
    <head>
        <title>Gummy Bear Kingdom</title>
    </head>
    <body>
        
         <h2 style="color: gree;">@Html.ActionLink("Product list", "Index", "Properties")</h2>
         <h2>@Html.ActionLink("Review list", "Index", "Reviews")</h2>
    </body>
</html>